.metadata/
simpleBallApp/.build/
simpleBallApp/simpleBallApp.wgt
simpleBallApp/.sdk_delta.info
simpleGeolocationApp/.build/
simpleGeolocationApp/simpleGeolocationApp.wgt
simpleVibraDrumsApp/.build/
simpleVibraDrumsApp/simpleVibraDrumsApp.wgt
simpleWeatherApp/.build/
simpleWeatherApp/simpleWeatherApp.wgt
